.nowPlaying {}

.nowPlayingContainer {
    display: flex;
    margin-top: var(--space-lg);
    gap: var(--space-lg);
}

.nowPlayingColumn {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    width: calc(50% - (var(--space-lg) / 2))
}

.nowPlayingContainer .itemCard {
    flex: 1 0 0;
    margin: 16px 16px 0 0;
}

.card {
    border-radius: 5px;
    box-sizing: border-box;
    cursor: default;
    overflow: hidden;
    transform: translateZ(0);
}
    
.cardHeader {
    padding: 20px;
    position: relative;
    flex-direction: row;
    background: var(--background-base-lowest);
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
}

.nameTag {
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    color: var(--text-default);
}

.username {
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.username:hover {
    text-decoration: underline;
}

.card:hover .headerIcon, .header:has(.headerActions[aria-expanded="true"]) .headerIcon {
    display: none;
}

.headerActions {
    display: none;
    margin-left: 8px;
}

.card:hover .headerActions, .headerActions[aria-expanded="true"] {
    display: flex;
}

.overflowMenu {
    cursor: pointer;
    height: 24px;
    margin-left: 8px;
    transition: opacity .2s linear;
    width: 24px;
    color: var(--interactive-icon-hover);
}

.overflowMenu:hover {
    color: var(--interactive-icon-default);
}

.headerIcon {
    border-radius: 4px;
    display: block;
    height: 30px;
    justify-self: end;
    width: 30px;
}

.splashArt {
    filter: grayscale(100%);
    mask: radial-gradient(100% 100% at top left, hsla(0, 0%, 100%, .6) 0, hsla(0, 0%, 100%, 0) 100%);
    opacity: .3;
    width: 300px;
    background-position-x: 50%;
    background-position-y: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
}

.server {
    mask: radial-gradient(80% 100% at top right, hsla(0, 0%, 100%, .5) 0, hsla(0, 0%, 100%, 0) 100%);
    right: 0;
    left: unset;
}

.cardBody {
    display: flex;
    padding: 0 20px;
    background: var(--background-mod-strong)
}

.section {
    -webkit-box-flex: 1;
    flex: 1 0 calc(50% - 20px);
}

.game {
    padding: 20px 0;
}

.gameBody {
    flex-direction: column;
}

.activity {
    flex-direction: row;
}

.activity:last-child:not(:only-child) {
    margin-top: 20px;
}

.activity .serviceButtonWrapper {
    gap: 6px;
    display: flex;
    flex-direction: row;
}

.richActivity {
    margin-top: 20px;
}

.activityActivityFeed {}

.activityFeed {
    -webkit-box-flex: 1;
    flex: 1 1 50%;
    min-width: 0;
}

.body {}

.bodyNormal {}

:is(.gameInfoRich, .gameNameWrapper) {
    -webkit-box-flex: 1;
    display: flex;
    flex: 1;
}

.gameInfoRich {
    align-items: center;
}

.gameInfo {
    margin-left: 20px;
    min-width: 0;
    color: var(--text-default);
    font-weight: 500;
    flex: 1;
}

:is(.gameName, .gameNameWrapper, .streamInfo) {
    overflow: hidden;
}

.gameName {
    font-size: 16px;
    line-height: 20px;
    margin-right: 10px;
    max-width: fit-content;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gameName.clickable:hover {
    text-decoration: underline;
}

.playTime:not(a) {
    color: var(--text-muted);
}
.playTime {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    margin-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.assets {
    position: relative;
}

.assetsLargeImageActivityFeed {
    width: 90px;
    height: 90px;
}

.assetsSmallImageActivityFeed {
    height: 30px;
    width: 30px;
}

.assets .assetsLargeImage {
    display: block;
    border-radius: 4px; 
    object-fit: cover;
}

.assets .assetsLargeImageActivityFeedTwitch {
    border-radius: 5px;
    height: 260px;
    mask: linear-gradient(0deg, transparent 10%, #000 80%);
    width: 100%;
}

.assets:has(.assetsSmallImage) .assetsLargeImage {
    mask: url('https://discord.com/assets/725244a8d98fc7f9f2c4a3b3257176e6.svg');
}

.richActivity .assetsSmallImage, .richActivity .smallEmptyIcon {
    border-radius: 50%;
    position: absolute;
    bottom: -4px;
    right: -4px; 
}

.activity .smallEmptyIcon {
    width: 40px;
    height: 40px;
}

.assets .largeEmptyIcon {
    width: 90px;
    height: 90px;
}

.assets .largeEmptyIcon path {
    transform: scale(3.65) !important;
}

.richActivity svg.assetsSmallImage {
    border-radius: unset !important;
}   

.richActivity .smallEmptyIcon path {
    transform: scale(1.3) !important;
}

.assets .twitchImageContainer {
    background: var(--background-secondary-alt);
    border-radius: 5px;
    position: relative;
}

.assets .twitchBackgroundImage {
    display: inline-block;
    min-height: 260px;
}

.assets .twitchImageOverlay {
    bottom: 0;
    left: 0;
    padding: 16px;
    position: absolute;
    right: 0;
}

.assets .streamName {
    color: var(--text-default);
    font-size: 14px;
    font-weight: 500;
    margin-top: 8px;
}

.assets .streamGame {
    color: var(--text-muted);
    font-size: 12px;
    font-weight: 600;
    margin-top: 8px;
    text-transform: uppercase;
}

.contentImagesActivityFeed {
    margin-left: 20px;
    color: var(--text-default);
}

:is(.gameInfo, .contentImagesActivityFeed) {
    align-self: center;
    display: grid;
}

.content {
    flex: 1;
    overflow: hidden;
}

.details {
    font-weight: 600;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.textRow {
    display: block;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 4px;
}

.voiceSection {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.voiceSectionAssets {
    align-items: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: relative;
}

.voiceSectionIconWrapper {
    align-items: center;
    border-radius: 50%;
    bottom: -4px;
    display: flex;
    height: 20px;
    justify-content: center;
    position: absolute;
    right: -3px;
    width: 20px;
}

.voiceSectionIcon {
    color: var(--text-default);
    height: 12px;
    width: 12px;
}

.voiceSectionGuildImage {
    border-radius: 50%;
    mask: url('https://discord.com/assets/a90b040155ee449f.svg');
    mask-size: 100%;
    mask-type: luminance;
}

.voiceSection .details {
    flex: 1;
}

.voiceSectionDetails {
    cursor: pointer;
    margin-left: 20px;
    min-width: 0;
}

.voiceSectionDetails:hover :is(.voiceSectionText, .voiceSectionSubtext) {
    text-decoration: underline;
}

.voiceSectionText {
    color: var(--text-default);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2857142857142858;
}

.voiceSectionSubtext {
    color: var(--text-muted);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3333333333333333;
}

.userList {
    flex: 0 1 auto;
    justify-content: flex-end;
}

.voiceSection button {
    flex: 0 1 auto !important;
    width: auto !important;
    margin-left: 20px;
}

.streamSection {
    position: relative;
}

.applicationStreamingSection {
    display: grid;
    grid-template-columns: 32px minmax(20px, auto) max-content;
    -webkit-box-align: center;
    align-items: center;
    gap: 12px 12px;
}

.applicationStreamingAvatar {
    cursor: pointer;
}

.applicationStreamingDetails {
    margin-left: 16px;
    min-width: 0;
}

.applicationStreamingPreviewWrapper {
    margin-top: 12px;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
}

.applicationStreamingPreviewSize {
    height: 100%;
    width: 100%;
}

.applicationStreamingPreview {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.applicationStreamingHoverWrapper {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out 0s;
}

.applicationStreamingHoverWrapper:hover {
    opacity: 1;
}

.applicationStreamingHoverText {
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    background: rgba(0, 0, 0, 0.6);
    padding: 8px 20px;
    border-radius: 20px;
}

.emptyPreviewContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.emptyPreviewImage {
    width: 80%;
    height: 60%;
    margin-bottom: 10px;
    background-position: 50% center;
    background-repeat: no-repeat;
}

.emptyPreviewText {
    color: var(--text-default);
}

.inner {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.actionsActivity .buttonContainer {
    flex-direction: inherit;
}

.partyStatusWrapper {
    display: flex;
    gap: 4px;
    align-items: center;
}

.partyStatusWrapper button {
    flex: 0 1 50% !important;
    max-height: 24px;
    min-height: 24px !important;
    width: auto !important;
    justify-self: flex-end;
}

.partyList {
    display: flex;
}

.player:first-of-type:not(:only-of-type) {
    mask: url(#svg-mask-voice-user-summary-item);
}

.userOverflow {
    color: var(--app-message-embed-secondary-text);
    font-size: 12px;
    align-content: center;
    margin-right: 8px;
}

.emptyUser:not(:first-of-type), .player:not(:first-of-type) {
    margin-left: -4px;
}

.emptyUser:not(:last-of-type), .player:not(:last-of-type) {
    mask: url(#svg-mask-voice-user-summary-item);
}

.emptyUser, .player {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.emptyUser svg {
    margin-left: 3px;
}

.partyPlayerCount {
    color: var(--app-message-embed-secondary-text);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3333333333333333;
    margin-top: 1px;
}

.cardV2 {
    background: linear-gradient(45deg, var(--background-base-lowest), var(--background-base-low));
    border-radius: var(--radius-md);
    outline: 1px solid var(--border-normal);
    outline-offset: -1px;
    box-sizing: border-box;
    background-clip: border-box;
    overflow: hidden;
    transform: translateZ(0);

    .cardHeader {
        padding: var(--space-lg);
        position: relative;
        flex-direction: row;
        background: unset;
    }
    .nameTag {
        color: var(--white);
    }
    .splashArt, .server {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: unset;
        mask: radial-gradient(100% 100% at top right, var(--white) 0, transparent 100%);
        opacity: .3;
        position: absolute;
        top: 0;
        left: unset;
        right: 0;
        width: 300px;
        height: 120px;
        pointer-events: none;
        z-index: -1;
    }
    &:hover {
        .headerIcon {
            display: none;
        }
        .headerActions {
            display: flex;
        }
    }
    .cardBody {
        display: flex;
        gap: var(--space-lg);
        padding: 0 var(--space-lg) var(--space-lg);
        background: unset;
    }
    .section {
        background: var(--background-mod-normal);
        border-radius: var(--radius-sm);
        padding: var(--space-sm);
    }
    .game {
        padding: 0;
    }
    .voiceSectionText {
        color: var(--white);
    }
    .headerIcon, .gameIcon, .assetsLargeImage.assetsLargeImage {
        border-radius: var(--radius-sm);
    }
    .gameInfo {
        color: var(--white);
    }
    .playTime:not(a), .voiceSectionSubtext {
        color: var(--app-message-embed-secondary-text) !important;
    }
    .serviceButtonWrapper {
        margin-left: 20px;
        gap: 8px !important;
    }
    .contentImagesActivityFeed {
        color: var(--white);
    }
    .textRow {
        font-size: 16px;
        line-height: 18px;
    }
    .state {
        color: var(--app-message-embed-secondary-text);
        font-size: 14px;
        line-height: 16px;
    }
    .activity:last-child:not(:only-child) {
        margin-top: 12px;
    }
    .applicationStreamingPreviewWrapper {
        background-color: var(--opacity-white-12);
        img {
            border-radius: var(--radius-sm);
        }
    }
}