.blacklist {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.external {
    margin-bottom: var(--space-20);
}

.settingsDivider {
    margin-bottom: var(--space-12) !important;
}

.subtitleContainer {
    color: var(--text-muted);
    font-size: 14px;
}

.blacklistItem {
    display: flex;
}

.blacklistItem .blacklistItemIcon {
    border-radius: 8px;
    height: 32px;
    width: 32px;
}

.blacklistItem .blacklistItemName, .blacklistItem .blacklistItemTextContainer {
    margin-left: 20px;
    margin-bottom: 0;
    min-width: 0;
    font-weight: 500;
    align-content: center;
    flex: 1;
}

.blacklistItem .blacklistItemTextContainer > .blacklistItemName {
    margin-left: 0;
}

.blacklistItem .blacklistItemDescription {}

.blacklistItem button {
    flex: 0 1 auto;
    font-weight: 400;
    align-self: center;
    width: auto;
    margin-left: 20px;
    border-radius: var(--radius-xs);
    color: var(--text-subtle) !important;
}

.unhideBlacklisted {}

.search {
    padding: 12px;
    margin: 5px 0 20px 0;
    input::placeholder {
        font-weight: 600;
        font-size: 14px;
        color: var(--text-muted);
    }
    svg {
        path {
            fill: var(--text-muted);
        }
        circle {
            color: var(--text-muted);
        }
        path, circle {
            stroke: var(--text-muted);
            stroke-width: 3px;
        }
    }
}

.toggleStack {
    display: flex;
    flex-direction: column;
    padding: var(--space-16) 0 var(--space-16) 0;
    gap: 20px;
}

.buttonItem {
    display: flex;
}

.radioItem {
    display: flex;
    flex-direction: column;
}

.emptyApplications {
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    align-items: center;
    background-color: var(--background-base-lowest);
    border: 1px solid var(--primary-700);
    border-radius: var(--radius-xs);
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    position: relative;

}

.emptyApplicationsImage {
    background-image: url('https://static.discord.com/assets/323ba4bf50c8a669daa085cea17561cb.svg');
    height: 80px;
    margin-top: 32px;
    width: 195px;
}

.emptyApplicationsTitle {
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
}

.emptyApplicationsBody {
    color: var(--text-subtle);
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 32px;
    margin-top: 8px;
    padding: 0 80px;
    text-align: center;
}

.newspaperIcon {}