.blacklist {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.settingsDivider {
    margin-bottom: var(--space-12) !important;
}

.blacklistItem {
    display: flex;
}

.blacklistItem .blacklistItemIcon {
    border-radius: 8px;
    height: 32px;
    width: 32px;
}

.blacklistItem .blacklistItemName {
    margin-left: 20px;
    margin-bottom: 0;
    min-width: 0;
    font-weight: 500;
    align-content: center;
    flex: 1;
}

.blacklistItem button {
    flex: 0 1 auto;
    align-self: center;
    width: auto;
    margin-left: 20px;
}

.search {
    padding: 12px;
    margin: 12px 0;
    input::placeholder {
        font-weight: 600;
        font-size: 14px;
        color: var(--text-muted);
    }
    svg {
        path {
            fill: var(--text-muted);
        }
        circle {
            color: var(--text-muted);
        }
        path, circle {
            stroke: var(--text-muted);
            stroke-width: 3px;
        }
    }
}

.toggleStack {
    padding: var(--space-16) 0 var(--space-16) 0;
}

.buttonItem {
    display: flex;
}