.activityFeed {
    background: var(--background-gradient-chat, var(--background-base-lower));
    border-top: 1px solid var(--app-frame-border);
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.scrollerBase {
    background: no-repeat bottom;
    background-size: 100%;
    background-image: url(https://discord.com/assets/c486dc65ce2877eeb18e4c39bb49507a.svg);
}

.centerContainer {
    display: flex;
    flex-direction: column;
    width: 1284px;
    max-width: 100%;
    min-width: 245px;
    margin: 0 auto;
}

.headerBar {
    height: var(--custom-channel-header-height);
    min-height: var(--custom-channel-header-height);
}

.headerContainer {
    flex-direction: row;
}

.headerText {
    display: flex;
    flex: 1;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin-top: 20px;
    width: 100%;
    color: var(--text-default);
}

.button {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    background: none;
    border: none;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    line-height: 16px;
    position: relative;
    user-select: none;
}

.sectionDivider {
    display: flex;
    width: 100%;
    border-bottom: 2px solid;
    margin: 20px 0 20px 0;
}

.emptyState {
    position: relative;
}

.emptyText {}

.emptyTitle {
    font-size: 16px;
    line-height: 20px;
    color: var(--text-default);
}

.emptySubtitle {
    font-size: 14px;
    color: var(--text-muted);
}

.activityFeedV2 {
    .headerText {
        font-size: 24px;
        font-weight: 400;
        line-height: 1.25;
    }
    .emptyState.emptyState {
        margin-top: var(--space-lg);
        border-radius: var(--radius-sm);
        flex-wrap: unset;
    }
}