.activityFeed {
    background: var(--background-gradient-chat, var(--background-base-lower));
    border-top: 1px solid var(--app-border-frame);
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.scrollerBase {
    contain: layout size;
    height: 100%;
    background: no-repeat bottom;
    background-size: 100%;
    background-image: url(/assets/c486dc65ce2877eeb18e4c39bb49507a.svg);
    &::-webkit-scrollbar {
    background: none;
    border-radius: 8px;
    width: 16px;
    }
    &::-webkit-scrollbar-thumb {
        background-clip: padding-box;
        border: solid 4px #0000;
        border-radius: 8px;
    }
    &:hover::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-auto-thumb);
    }
}

.centerContainer {
    display: flex;
    flex-direction: column;
    width: 1280px;
    max-width: 100%;
    min-width: 245px;
    margin: 0 auto;
}

.title {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    color: var(--text-strong);
}

.titleWrapper {
    flex: 0 0 auto;
    margin: 0 8px 0 0;
    min-width: auto;
}

.iconWrapper {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    height: var(--space-32);
    justify-content: center;
    margin: 0;
    position: relative;
    width: var(--space-32);
}

.headerBar {
    height: var(--custom-channel-header-height);
    min-height: var(--custom-channel-header-height);
}

.headerContainer {
    flex-direction: row;
}

.headerText {
    display: flex;
    flex: 1;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin-top: 20px;
    width: 100%;
    color: var(--text-default);
}

.button {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    background: none;
    border: none;
    border-radius: 3px;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    line-height: 16px;
    position: relative;
    user-select: none;
}

.sectionDivider {
    display: flex;
    width: 100%;
    border-bottom: 2px solid;
    margin: 20px 0 20px 0;
}

.emptyState {
    position: relative;
}

.emptyText {}

.emptyTitle {
    font-size: 16px;
    line-height: 20px;
    color: var(--text-default);
}

.emptySubtitle {
    font-size: 14px;
    color: var(--text-muted);
}