._2cbe2fbfe32e4150-activityCenter {
    background: var(--background-gradient-chat, var(--background-base-lower));
    border-top: 1px solid var(--app-border-frame);
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

._2cbe2fbfe32e4150-scrollerBase {
    contain: layout size;
    height: 100%;
    /*
    background: no-repeat bottom;
    background-size: 100%;
    background-image: url(/assets/c486dc65ce2877eeb18e4c39bb49507a.svg);
    */
    &::-webkit-scrollbar {
    background: none;
    border-radius: 8px;
    width: 16px;
    }
    &::-webkit-scrollbar-thumb {
        background-clip: padding-box;
        border: solid 4px #0000;
        border-radius: 8px;
    }
    &:hover::-webkit-scrollbar-thumb {
        background-color: var(--bg-overlay-6, var(--background-tertiary));
    }
}

._2cbe2fbfe32e4150-centerContainer {
    display: flex;
    flex-direction: column;
    width: 1280px;
    max-width: 100%;
    min-width: 480px;
    margin: 0 auto;
}

._2cbe2fbfe32e4150-title {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    color: var(--header-primary);
}

._2cbe2fbfe32e4150-titleWrapper {
    flex: 0 0 auto;
    margin: 0 8px 0 0;
    min-width: auto;
}

._2cbe2fbfe32e4150-iconWrapper {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    height: var(--space-32);
    justify-content: center;
    margin: 0;
    position: relative;
    width: var(--space-32);
}

._2cbe2fbfe32e4150-headerBar {
    height: calc(var(--custom-channel-header-height) - 1px);
    min-height: calc(var(--custom-channel-header-height) - 1px);
}

._2cbe2fbfe32e4150-headerContainer {
    flex-direction: row;
}

._2cbe2fbfe32e4150-headerText {
    display: flex;
    flex: 1;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin-top: 20px;
    width: 100%;
    color: var(--text-default);
}

._2cbe2fbfe32e4150-feedCarousel {
    display: flex;
    position: relative;
}

._2cbe2fbfe32e4150-carousel {
    background-color: var(--background-secondary-alt);
    border-radius: 5px;
    flex: 1 1 75%;
    min-height: 388px;
    margin-right: 20px;
    overflow: hidden;
    position: relative;
    transform: translateZ(0);
}

._2cbe2fbfe32e4150-article {
    background-color: var(--background-secondary-alt);
    border-radius: 5px;
    bottom: 0;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    overflow: hidden;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

._2cbe2fbfe32e4150-background {
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 7.5%;
    mask: linear-gradient(0deg, transparent, #000);
    min-width: 300px;
    background-position: top;
}

._2cbe2fbfe32e4150-backgroundImage {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
}

._2cbe2fbfe32e4150-background, ._2cbe2fbfe32e4150-backgroundImage {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

._2cbe2fbfe32e4150-feedOverflowMenu {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 12px;
}

._2cbe2fbfe32e4150-applicationArea {
    color: var(--text-default);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

._2cbe2fbfe32e4150-details {
    position: relative;
}

._2cbe2fbfe32e4150-titleStandard {
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 24px;
    line-height: 28px;
}

._2cbe2fbfe32e4150-title {
    color: var(--header-primary);
    display: block;
    font-weight: 500;
}

._2cbe2fbfe32e4150-description {
    color: var(--text-default);
    display: -webkit-box;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 8px;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    img, br+br {
        display: none;
    }
    a {
        color: inherit;
    }
    p, b, i {
        all: inherit;
        display: contents
    }
    .sharedFilePreviewYouTubeVideo {
        display: none;
    }
}

._2cbe2fbfe32e4150-timestamp {
    color: var(--text-muted);
    font-size: 12px;
    font-weight: 600;
    margin-top: 8px;
    text-transform: uppercase;
}

._2cbe2fbfe32e4150-gameIcon {
    position: relative;
    pointer-events: auto;
    cursor: pointer;
    height: 40px;
    width: 40px;
    flex-shrink: 0;
    border-radius: 3px;
}

._2cbe2fbfe32e4150-pagination {
    -webkit-box-flex: 1;
    flex: 1 1 25%;
    min-width: 0;
}

._2cbe2fbfe32e4150-verticalPaginationItemContainer {
    margin: 0;
    overflow: hidden;
}

._2cbe2fbfe32e4150-scrollerWrap {
    -webkit-box-flex: 1;
    display: flex;
    flex: 1;
    height: 100%;
    min-height: 1px;
    position: relative;
}

._2cbe2fbfe32e4150-scroller {
    -webkit-box-flex: 1;
    contain: layout;
    flex: 1;
    min-height: 1px;
}
    
._2cbe2fbfe32e4150-paginationItem, ._2cbe2fbfe32e4150-paginationItem:before {
    transition: all .2s ease;
}

._2cbe2fbfe32e4150-paginationItem:first-child {
    margin-top: 0;
}

._2cbe2fbfe32e4150-paginationItem {
    -webkit-box-align: center;
    align-items: center;
    background: var(--background-secondary-alt);
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: 91px;
    margin-top: 8px;
    overflow: hidden;
    padding: 16px;
    position: relative;
    transform: translateZ(0);
}

._2cbe2fbfe32e4150-paginationItem:before {
    background: #fff;
    border-radius: 20px;
    content: "";
    height: 40px;
    left: -5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-100%);
    transition-delay: .2s;
    width: 10px;
    z-index: 1;
}

._2cbe2fbfe32e4150-paginationItem:after {
    background-blend-mode: color;
    border-radius: 5px;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

._2cbe2fbfe32e4150-splashArt {
    filter: grayscale(100%);
    height: 100%;
    opacity: .2;
    width: 100%;
    background-position-x: 50%;
    background-position-y: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
}

._2cbe2fbfe32e4150-paginationSubtitle, ._2cbe2fbfe32e4150-paginationTitle {
    font-weight: 600;
}

._2cbe2fbfe32e4150-paginationText {
    overflow: hidden;
}

._2cbe2fbfe32e4150-paginationContent {
    overflow: hidden;
    position: relative;
    z-index: 1;
}

._2cbe2fbfe32e4150-paginationTitle {
    color: var(--header-primary);
    font-size: 16px;
    line-height: 1.25;
    max-height: 40px;
}

._2cbe2fbfe32e4150-paginationSubtitle {
    color: var(--text-muted);
    font-size: 12px;
    margin-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

._2cbe2fbfe32e4150-selectedPage {
    background: var(--background-surface-higher);
    cursor: default;
}

._2cbe2fbfe32e4150-selectedPage:before {
    transform: translateY(-50%) translateX(0);
}

._2cbe2fbfe32e4150-selectedPage ._2cbe2fbfe32e4150-splashArt {
    filter: grayscale(0);
}

._2cbe2fbfe32e4150-smallCarousel {
    -webkit-box-flex: 1;
    border-radius: 5px;
    flex: 1;
    height: 220px;
    overflow: hidden;
    position: relative;
    transform: translateZ(0);
}

._2cbe2fbfe32e4150-titleRowSimple {
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

._2cbe2fbfe32e4150-paginationSmall {
    bottom: 0;
    height: 64px;
    left: 0;
    margin: 0 auto;
    min-width: 0;
    right: 0;
    position: absolute;
    z-index: 3;
    display: flex;
}

._2cbe2fbfe32e4150-arrow {
    color: var(--text-muted);
    z-index: 2;
}

svg._2cbe2fbfe32e4150-arrow {
    height: 26px;
    width: 26px;
}

._2cbe2fbfe32e4150-arrowContainer {
    color: var(--white);
    cursor: pointer;
    font-size: 0;
    height: 50px;
    line-height: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
}

._2cbe2fbfe32e4150-arrow, ._2cbe2fbfe32e4150-arrowContainer {
    box-sizing: border-box;
    pointer-events: all;
}

._2cbe2fbfe32e4150-button {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    background: none;
    border: none;
    border-radius: 3px;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    line-height: 16px;
    position: relative;
    user-select: none;
}

._2cbe2fbfe32e4150-prevButtonContainer {
    left: 6px;
}

._2cbe2fbfe32e4150-nextButtonContainer {
    right: 6px;
}

._2cbe2fbfe32e4150-left {
    transform: rotate(-90deg);
}

._2cbe2fbfe32e4150-right {
    transform: rotate(90deg);
}

._2cbe2fbfe32e4150-horizontalPaginationItemContainer {
    -webkit-box-align: center;
    -webkit-box-flex: initial;
    align-items: center;
    display: flex;
    flex: initial;
    margin: 0 auto;
    overflow-y: hidden;
}

._2cbe2fbfe32e4150-dot {
    background-color: #fff;
    border-radius: 2px;
    cursor: pointer;
    height: 8px;
    margin-right: 8px;
    pointer-events: all;
    transform: translateZ(0);
    width: 8px;
}

._2cbe2fbfe32e4150-dotNormal {
    opacity: 0.2;
}

._2cbe2fbfe32e4150-dotSelected {
    opacity: 0.6;
}

._2cbe2fbfe32e4150-dock {
    margin-top: 10px;
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    max-width: 1280px;
}

._2cbe2fbfe32e4150-dockItem {
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    height: 100px;
    padding: 10px;
    width: 90px;
    flex-direction: column;
}

._2cbe2fbfe32e4150-dockIcon:first-child {
    margin-left: 0;
}

._2cbe2fbfe32e4150-dockIcon {
    background-size: 100%;
    border-radius: 3px;
    height: 40px;
    margin-bottom: 8px;
    transition: opacity .2s ease-in-out;
    width: 40px;
}

._2cbe2fbfe32e4150-dockItemText {
    font-weight: 500;
    height: 31px;
    line-height: normal;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: normal;
    width: 100%;
    font-size: 12px;
    color: var(--text-default);
}

._2cbe2fbfe32e4150-dockItemPlay {
    display: none;
    z-index: 9999;
}

._2cbe2fbfe32e4150-dockItemPlay:disabled, ._2cbe2fbfe32e4150-dockItemPlay[aria-disabled=true] {
    background-color: var(--green-active, var(--button-positive-background-active)) !important;
}

._2cbe2fbfe32e4150-dockItem:hover {
    background: var(--background-base-lowest);
}

._2cbe2fbfe32e4150-dockItem:hover ._2cbe2fbfe32e4150-dockItemText {
    display: none;
}

._2cbe2fbfe32e4150-dockItem:hover ._2cbe2fbfe32e4150-dockItemPlay {
    display: flex;
}

._2cbe2fbfe32e4150-nowPlayingContainer {
    display: flex;
    margin-top: var(--space-lg);
    gap: var(--space-lg);
}

._2cbe2fbfe32e4150-nowPlayingColumn {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    width: calc(50% - (var(--space-lg) / 2))
}

._2cbe2fbfe32e4150-nowPlayingContainer .itemCard {
    flex: 1 0 0;
    margin: 16px 16px 0 0;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-card {
    border-radius: 5px;
    box-sizing: border-box;
    cursor: default;
    overflow: hidden;
    transform: translateZ(0);
}
    
._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-cardHeader {
    padding: 20px;
    position: relative;
    flex-direction: row;
    background: var(--background-base-lowest);
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-header > .wrapper {
    display: flex;
    cursor: pointer;
    margin-right: 20px;
    transition: opacity .2s ease;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-nameTag {
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    color: var(--text-default);
}

._2cbe2fbfe32e4150-nowPlayingColumn .username {
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

._2cbe2fbfe32e4150-nowPlayingColumn .username:hover {
    text-decoration: underline;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-card:hover ._2cbe2fbfe32e4150-headerIcon {
    display: none;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-headerActions {
    display: none;
    margin-left: 8px;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-card:hover ._2cbe2fbfe32e4150-headerActions {
    display: flex;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-headerActions > div[aria-expanded="false"] {
    display: none;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-headerActions {
    ._2cbe2fbfe32e4150-button.lookFilled {
        background: var(--control-secondary-background-default);
        border: unset;
        color: var(--white);
        padding: 2px 16px;
        width: unset;
        svg {
            display: none;
        } 
    }
    ._2cbe2fbfe32e4150-button.lookFilled:hover {
        background-color: var(--control-secondary-background-hover) !important;
    }
    ._2cbe2fbfe32e4150-button.lookFilled:active {
        background-color: var(--control-secondary-background-active) !important; 
    }
    .lookFilled.colorPrimary {
        background: unset !important;
        border: unset !important;
    }
    .lookFilled.colorPrimary:hover {
        color: var(--interactive-background-hover);
        svg {
            stroke: var(--interactive-background-hover);
        }
    }
    .lookFilled.colorPrimary:active {
        color: var(--interactive-background-active);
        svg {
            stroke: var(--interactive-background-active);
        }
    }
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-overflowMenu {
    cursor: pointer;
    height: 24px;
    margin-left: 8px;
    transition: opacity .2s linear;
    width: 24px;
    color: var(--interactive-icon-hover);
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-overflowMenu:hover {
    color: var(--interactive-icon-default);
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-headerIcon {
    border-radius: 4px;
    display: block;
    height: 30px;
    justify-self: end;
    width: 30px;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-splashArt {
    filter: grayscale(100%);
    mask: radial-gradient(100% 100% at top left, hsla(0, 0%, 100%, .6) 0, hsla(0, 0%, 100%, 0) 100%);
    opacity: .3;
    width: 300px;
    background-position-x: 50%;
    background-position-y: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-server {
    mask: radial-gradient(80% 100% at top right, hsla(0, 0%, 100%, .5) 0, hsla(0, 0%, 100%, 0) 100%);
    right: 0;
    left: unset;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-cardBody {
    display: flex;
    padding: 0 20px;
    background: var(--background-mod-strong)
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-section {
    -webkit-box-flex: 1;
    flex: 1 0 calc(50% - 20px);
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-game {
    padding: 20px 0;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-gameBody {
    flex-direction: column;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-activityContainer:last-child:not(:only-child, :nth-child(1 of ._2cbe2fbfe32e4150-activityContainer)) ._2cbe2fbfe32e4150-sectionDivider {
    display: none;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-activity {
    flex-direction: row;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-activity:last-child:not(:only-child) {
    margin-top: 20px;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-activity ._2cbe2fbfe32e4150-serviceButtonWrapper {
    gap: 6px;
    display: flex;
    flex-direction: row;
    .sm:not(.hasText) {
        padding: 0;
        width: calc(var(--custom-button-button-sm-height) + 4px);
    }
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-richActivity {
    margin-top: 20px;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-activityFeed {
    -webkit-box-flex: 1;
    flex: 1 1 50%;
    min-width: 0;
}

._2cbe2fbfe32e4150-nowPlayingColumn :is(._2cbe2fbfe32e4150-gameInfoRich, ._2cbe2fbfe32e4150-gameNameWrapper) {
    -webkit-box-flex: 1;
    display: flex;
    flex: 1;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-gameInfoRich {
    align-items: center;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-gameInfo {
    margin-left: 20px;
    min-width: 0;
    color: var(--text-default);
    font-weight: 500;
    flex: 1;
}

._2cbe2fbfe32e4150-nowPlayingColumn :is(._2cbe2fbfe32e4150-gameName, ._2cbe2fbfe32e4150-gameNameWrapper, ._2cbe2fbfe32e4150-streamInfo) {
    overflow: hidden;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-gameName {
    font-size: 16px;
    line-height: 20px;
    margin-right: 10px;
    max-width: fit-content;
    text-overflow: ellipsis;
    white-space: nowrap;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-gameName._2cbe2fbfe32e4150-clickable:hover {
    text-decoration: underline;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-playTime:not(a) {
    color: var(--text-muted);
}
._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-playTime {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    margin-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-assets {
    position: relative;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-assetsLargeImageActivityFeed {
    width: 90px;
    height: 90px;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-assetsSmallImageActivityFeed {
    height: 30px;
    width: 30px;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-assets ._2cbe2fbfe32e4150-assetsLargeImage {
    display: block;
    border-radius: 4px; 
    object-fit: cover;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-assets ._2cbe2fbfe32e4150-assetsLargeImageActivityFeedTwitch {
    border-radius: 5px;
    height: 260px;
    mask: linear-gradient(0deg, transparent 10%, #000 80%);
    width: 100%;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-assets:has(._2cbe2fbfe32e4150-assetsSmallImage) ._2cbe2fbfe32e4150-assetsLargeImage {
    mask: url('https://discord.com/assets/725244a8d98fc7f9f2c4a3b3257176e6.svg');
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-richActivity ._2cbe2fbfe32e4150-assetsSmallImage, ._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-richActivity ._2cbe2fbfe32e4150-smallEmptyIcon {
    border-radius: 50%;
    position: absolute;
    bottom: -4px;
    right: -4px; 
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-activity ._2cbe2fbfe32e4150-smallEmptyIcon {
    width: 40px;
    height: 40px;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-assets ._2cbe2fbfe32e4150-largeEmptyIcon {
    width: 90px;
    height: 90px;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-assets ._2cbe2fbfe32e4150-largeEmptyIcon path {
    transform: scale(3.65) !important;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-richActivity svg.assetsSmallImage {
    border-radius: unset !important;
}   

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-richActivity ._2cbe2fbfe32e4150-smallEmptyIcon path {
    transform: scale(1.3) !important;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-assets ._2cbe2fbfe32e4150-twitchImageContainer {
    background: var(--background-secondary-alt);
    border-radius: 5px;
    position: relative;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-assets ._2cbe2fbfe32e4150-twitchBackgroundImage {
    display: inline-block;
    min-height: 260px;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-assets ._2cbe2fbfe32e4150-twitchImageOverlay {
    bottom: 0;
    left: 0;
    padding: 16px;
    position: absolute;
    right: 0;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-assets ._2cbe2fbfe32e4150-streamName {
    color: var(--text-default);
    font-size: 14px;
    font-weight: 500;
    margin-top: 8px;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-assets ._2cbe2fbfe32e4150-streamGame {
    color: var(--text-muted);
    font-size: 12px;
    font-weight: 600;
    margin-top: 8px;
    text-transform: uppercase;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-contentImagesActivityFeed {
    margin-left: 20px;
    color: var(--text-default);
}

._2cbe2fbfe32e4150-nowPlayingColumn :is(._2cbe2fbfe32e4150-gameInfo, ._2cbe2fbfe32e4150-contentImagesActivityFeed) {
    align-self: center;
    display: grid;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-content {
    flex: 1;
    overflow: hidden;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-details {
    font-weight: 600;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

._2cbe2fbfe32e4150-textRow {
    display: block;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 4px;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-content .bar {
    background-color: var(--opacity-white-24);
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-sectionDivider {
    display: flex;
    width: 100%;
    border-bottom: 2px solid;
    margin: 20px 0 20px 0;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-voiceSection {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-voiceSectionAssets {
    align-items: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: relative;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-voiceSectionIconWrapper {
    align-items: center;
    border-radius: 50%;
    bottom: -4px;
    display: flex;
    height: 20px;
    justify-content: center;
    position: absolute;
    right: -3px;
    width: 20px;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-voiceSectionIcon {
    color: var(--header-secondary);
    height: 12px;
    width: 12px;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-voiceSectionGuildImage {
    border-radius: 50%;
    mask: url('https://discord.com/assets/a90b040155ee449f.svg');
    mask-size: 100%;
    mask-type: luminance;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-voiceSection ._2cbe2fbfe32e4150-details {
    flex: 1;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-voiceSectionDetails {
    cursor: pointer;
    margin-left: 20px;
    min-width: 0;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-voiceSectionDetails:hover :is(._2cbe2fbfe32e4150-voiceSectionText, ._2cbe2fbfe32e4150-voiceSectionSubtext) {
    text-decoration: underline;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-voiceSectionText {
    color: var(--text-default);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2857142857142858;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-voiceSectionSubtext {
    color: var(--text-muted);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3333333333333333;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-userList {
    flex: 0 1 auto;
    justify-content: flex-end;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-voiceSection button {
    flex: 0 1 auto;
    width: auto;
    margin-left: 20px;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-actionsActivity .buttonContainer {
    flex-direction: inherit;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-partyStatusWrapper {
    display: flex;
    gap: 4px;
    align-items: center;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-partyStatusWrapper button {
    flex: 0 1 50%;
    max-height: 24px;
    min-height: 24px;
    width: auto !important;
    justify-self: flex-end;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-partyStatusWrapper .disabledButtonWrapper {
    flex: 1;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-partyStatusWrapper .disabledButtonOverlay {
    height: 24px;
    width: 100%;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-partyList {
    display: flex;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-player:first-of-type {
    mask: url(#svg-mask-voice-user-summary-item);
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-emptyUser:not(:first-of-type), ._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-player:not(:first-of-type) {
    margin-left: -4px;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-emptyUser:not(:last-of-type), ._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-player:not(:last-of-type) {
    mask: url(#svg-mask-voice-user-summary-item);
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-emptyUser, ._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-player {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-emptyUser svg {
    margin-left: 3px;
}

._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-partyPlayerCount {
    color: var(--app-message-embed-secondary-text);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3333333333333333;
}

._2cbe2fbfe32e4150-nowPlaying ._2cbe2fbfe32e4150-emptyState {
    border: 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 20px;
    padding: 20px;
    width: 100%;
}

._2cbe2fbfe32e4150-quickLauncher ._2cbe2fbfe32e4150-emptyState, ._2cbe2fbfe32e4150-blacklist._2cbe2fbfe32e4150-emptyState {
    border-bottom: 1px solid;
    font-size: 14px;
    padding: 20px 0;
    justify-content: flex-start;
    align-items: center;
}

._2cbe2fbfe32e4150-emptyTitle {
    font-size: 16px;
    line-height: 20px;
    color: var(--text-default);
}

._2cbe2fbfe32e4150-emptySubtitle {
    font-size: 14px;
    color: var(--text-muted);
}

.theme-light ._2cbe2fbfe32e4150-nowPlaying ._2cbe2fbfe32e4150-emptyState {
    background-color: #fff;
    border-color: var(--interactive-background-hover);
}

.theme-dark ._2cbe2fbfe32e4150-nowPlaying ._2cbe2fbfe32e4150-emptyState {
    background-color: rgba(79, 84, 92, .3);
    border-color: var(--background-mod-strong);
}

.theme-light ._2cbe2fbfe32e4150-quickLauncher ._2cbe2fbfe32e4150-emptyState, .theme-light ._2cbe2fbfe32e4150-blacklist._2cbe2fbfe32e4150-emptyState {
    border-color: rgba(220,221,222,.6);
    color: #b9bbbe;
}

.theme-dark ._2cbe2fbfe32e4150-quickLauncher ._2cbe2fbfe32e4150-emptyState, .theme-dark ._2cbe2fbfe32e4150-blacklist._2cbe2fbfe32e4150-emptyState {
    border-color: rgba(47,49,54,.6);
    color: #72767d;
}

.theme-light ._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-sectionDivider {
    border-color: var(--interactive-background-hover);
}

.theme-dark ._2cbe2fbfe32e4150-nowPlayingColumn ._2cbe2fbfe32e4150-sectionDivider {
    border-color: var(--background-mod-strong);
}

.theme-dark ._2cbe2fbfe32e4150-voiceSectionIconWrapper {
    background-color: var(--primary-800);
}

.theme-light ._2cbe2fbfe32e4150-voiceSectionIconWrapper {
    background: var(--primary-300);
}

._2cbe2fbfe32e4150-emptyIcon {
    height: 24px;
    margin-right: 8px;
    width: 24px;
}

._2cbe2fbfe32e4150-nowPlayingColumn .tabularNumbers {
    color: var(--text-default) !important;
}

._2cbe2fbfe32e4150-nowPlayingColumn :is(._2cbe2fbfe32e4150-actionsActivity, .customButtons) {
    gap: 8px;
}

.customButtons {
    display: flex;
    flex-direction: column;
}

._2cbe2fbfe32e4150-blacklist {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

._2cbe2fbfe32e4150-blacklist ._2cbe2fbfe32e4150-sectionDivider, ._2cbe2fbfe32e4150-settingsDivider._2cbe2fbfe32e4150-sectionDivider {
    display: flex;
    width: 100%;
    border-bottom: 2px solid;
    margin: 4px 0 4px 0;
    border-color: var(--background-mod-strong);
}

._2cbe2fbfe32e4150-blacklist ._2cbe2fbfe32e4150-sectionDivider:last-child {
    display: none;
}

._2cbe2fbfe32e4150-blacklistItem {
    display: flex;
}

._2cbe2fbfe32e4150-blacklistItem ._2cbe2fbfe32e4150-blacklistItemIcon {
    border-radius: 8px;
    height: 32px;
    width: 32px;
}

._2cbe2fbfe32e4150-blacklistItem ._2cbe2fbfe32e4150-blacklistItemName {
    margin-left: 20px;
    margin-bottom: 0;
    min-width: 0;
    font-weight: 500;
    align-content: center;
    flex: 1;
}

._2cbe2fbfe32e4150-blacklistItem button {
    flex: 0 1 auto;
    align-self: center;
    width: auto;
    margin-left: 20px;
}

._2cbe2fbfe32e4150-search {
    padding: 12px;
    margin: 12px 0;
    input::placeholder {
        font-weight: 600;
        font-size: 14px;
        color: var(--text-muted);
    }
    svg {
        path {
            fill: var(--text-muted);
        }
        circle {
            color: var(--text-muted);
        }
        path, circle {
            stroke: var(--text-muted);
            stroke-width: 3px;
        }
    }
}

._2cbe2fbfe32e4150-cardV2 {
    background: linear-gradient(45deg, var(--background-base-lowest), var(--background-base-low));
    border-radius: var(--radius-md);
    outline: 1px solid var(--border-normal);
    outline-offset: -1px;
    box-sizing: border-box;
    background-clip: border-box;
    overflow: hidden;
    transform: translateZ(0);

    ._2cbe2fbfe32e4150-headerActions ._2cbe2fbfe32e4150-button.lookFilled, ._2cbe2fbfe32e4150-cardBody button {
        color: var(--white);
        background: var(--opacity-white-24);
        &:hover {
            background: var(--opacity-white-36);
        }
        &:active {
            background: var(--opacity-white-32);
        }
    }

    ._2cbe2fbfe32e4150-cardHeader {
        padding: var(--space-lg);
        position: relative;
        flex-direction: row;
        background: unset;
    }
    ._2cbe2fbfe32e4150-nameTag {
        color: var(--white);
    }
    ._2cbe2fbfe32e4150-splashArt, ._2cbe2fbfe32e4150-server {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: unset;
        mask: radial-gradient(100% 100% at top right, var(--white) 0, transparent 100%);
        opacity: .3;
        position: absolute;
        top: 0;
        left: unset;
        right: 0;
        width: 300px;
        height: 120px;
        pointer-events: none;
        z-index: -1;
    }
    &:hover {
        ._2cbe2fbfe32e4150-headerIcon {
            display: none;
        }
        ._2cbe2fbfe32e4150-headerActions {
            display: flex;
        }
    }
    ._2cbe2fbfe32e4150-cardBody {
        display: flex;
        gap: var(--space-lg);
        padding: 0 var(--space-lg) var(--space-lg);
        background: unset;
    }
    ._2cbe2fbfe32e4150-section {
        background: var(--background-mod-normal);
        border-radius: var(--radius-sm);
        padding: var(--space-sm);
    }
    ._2cbe2fbfe32e4150-game {
        padding: 0;
    }
    ._2cbe2fbfe32e4150-sectionDivider {
        border-color: var(--opacity-white-12) !important;
        border-width: 1px;
        margin: 12px 0 12px 0;
    }
    ._2cbe2fbfe32e4150-voiceSectionText {
        color: var(--white);
    }
    ._2cbe2fbfe32e4150-headerIcon, ._2cbe2fbfe32e4150-gameIcon, ._2cbe2fbfe32e4150-assetsLargeImage._2cbe2fbfe32e4150-assetsLargeImage {
        border-radius: var(--radius-sm);
    }
    ._2cbe2fbfe32e4150-gameInfo {
        color: var(--white);
    }
    ._2cbe2fbfe32e4150-playTime:not(a), ._2cbe2fbfe32e4150-voiceSectionSubtext {
        color: var(--app-message-embed-secondary-text) !important;
    }
    ._2cbe2fbfe32e4150-serviceButtonWrapper {
        gap: 8px !important;
    }
    ._2cbe2fbfe32e4150-contentImagesActivityFeed {
        color: var(--white);
    }
    ._2cbe2fbfe32e4150-textRow {
        font-size: 16px;
        line-height: 18px;
    }
    ._2cbe2fbfe32e4150-state {
        color: var(--app-message-embed-secondary-text);
        font-size: 14px;
        line-height: 16px;
    }
    .tabularNumbers {
        color: var(--app-message-embed-secondary-text) !important;
    }
    .bar {
        background-color: var(--opacity-white-24);
    }
    .progress {
        background-color: var(--white);
    }
    ._2cbe2fbfe32e4150-activity:last-child:not(:only-child) {
        margin-top: 12px;
    }
}
